[user]
	name = Toshiyuki FUJITA
	email = kalibora@gmail.com
[github]
	user = kalibora
[core]
	quotepath = false
	pager = less
	excludesfile = ~/.gitignore
	editor = "emacs -nw"
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	up = pull --rebase
	hist = log --format=\"%h %ad | %s%d [%an]\" --graph --date=short
	graph = log --graph --format=\"%x09%C(white)%ad%Creset %C(yellow)%h%Creset %s %C(cyan bold)[%an]%Creset %C(magenta reverse)%d%Creset\"
[include]
	path = .gitconfig.local
